#homePageCarousel .carousel-item img {
  width: 100%;
  object-fit: cover;
  max-height: 30vw;
}

main {
  min-height: calc(100vh - 278px);
}

.nav-pills .nav-link {
  color: #dc3545;
  transition: all 0.3s;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
  background-color: #dc3545;
  color: white;
}

.card {
  height: 500px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: ease-in 0.3s;
}

.card:hover {
  scale: 1.01;
}

.card img {
  height: 360px;
  object-fit: cover;
}

textarea {
  resize: none;
}

#mensagem:focus,
input[type='text']:focus,
input[type='email']:focus {
  border-color: rgba(220, 53, 69, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(220, 53, 69, 0.6);
  outline: 0 none;
}
